/Java/Prueba/build/
/Java/Prueba/nbproject/private/
/Java/Suma_Anxo/nbproject/private/
/Java/Suma_Anxo/build/
/Java/Suma_Anxo/dist/
/Java/Formateo/nbproject/private/
/Java/Bienvenido_Anxo/nbproject/private/
/Java/Formateo/build/
/Java/Factorial/nbproject/private/
/Java/Condicionales/nbproject/private/
/Java/Condicionales/build/
/Java/Acepta_Reto/nbproject/private/
/Java/Acepta_Reto/build/
/Java/Bucles/nbproject/private/
/Java/Bucles/build/
/Java/Break_Continue/nbproject/private/
/Java/Break_Continue/build/
/Java/Bucles_Repaso/nbproject/private/
/Java/Bucles_Repaso/build/